/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --footer-link-color: #00000070;
  --footer-title-color: #0F1C2A;
  --footer-separators: #0F1C2A20;
  --ifm-toc-border-color: var(--footer-separators);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] { 
  --ifm-background-color: #0F1C2A;
  --ifm-navbar-background-color: #0F1C2A;
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --footer-link-color: #ffffff50;
  --footer-title-color: #ffffff;
  --footer-separators: #ffffff10;
  --ifm-toc-border-color: var(--footer-separators);
}

*, html {
  scroll-behavior: smooth;
}

.footer {
  background-color: var(--ifm-background-color);
}


.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar__brand {
  display: flex;
  align-items: center;
}

.navbar {
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--footer-separators);
  box-shadow: none;
}

.navbar__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: none;
}

.container {
  max-width: 100%;
  margin: 0 16px;
}

.footer {
  padding: 30px 0 0;
  border-top: 1px solid var(--footer-separators);
}

.footer__link-item {
  color: var(--footer-link-color);
}

.footer__link-item:hover {
  text-decoration: none;
}

.footer__bottom {
  margin-top: 115px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-top: 1px solid var(--footer-separators);
}

.footer__title {
  color: var(--footer-title-color);
}

.theme-doc-sidebar-item-link a {
  margin: 5px 0;
  padding: 10px;
}

.theme-doc-sidebar-item-category a {
  margin: 5px 0;
  padding: 10px;
}